<div class="card" >
    <div class="card-header bgm-blue">
        <h2>Gestionar Clientes</h2>
        <button ng-disabled="updateList || searchView == 3" class="btn bgm-green btn-float waves-effect btnLista" ng-click="update()"
                data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Pulse para actualizar los registros"
                title="" data-original-title="Actualizar"><i class="md md-sync"></i></button>
    </div>
    <div role="tabpanel" class="tab-pane active" ng-show="(searchView == 3)">
        <div class="card-header bgm-blue">
                <div class="row report-date p-l-15 p-r-15">
                    <div class="row report-date p-l-15 p-r-15">
                        <div class="col-xs-12 col-sm-3 btn-group p-0 box-s">
                            <button type="button" class="btn btn-block dropdown-toggle bgm-white c-black" data-toggle="dropdown">
                                Filtro
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pointer w-100" style="text-align: center;" role="menu">                            
                                <li><a ng-click="filter(4)">Por mes</a></li>                            
                                <li><a ng-click="filter(5)">Histórico</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                    <div ng-form="filterMensual" ng-show="searchView2 == 4" class="card-header bgm-blue p-t-0" style="margin-top: 18px;">

                        <div  class="row report-date p-l-15 p-r-15">
                            <h2 class="col-xs-6 col-sm-2 text-right m-t-5">Cliente</h2>
                            <select class="btn btn-default col-sm-2" ng-options="client.id as client.name for client in listClients" ng-model="client_id" required>
                                <option value="" disabled="disabled" select="true">Seleccione</option>
                            </select>
                        </div>

                        <div ng-show="searchView2 == 4" class="row report-date p-l-15 p-r-15">
                            <h2 class="col-xs-5 col-sm-2 text-right m-t-5">Año</h2>
                            <select class="col-xs-7 col-sm-2 btn btn-default m-t-5" ng-options="year as year for year in years" ng-model="year" required>
                                <option value="" disabled="disabled" selected="selected">Seleccione</option>
                            </select>
                            <h2 class="col-xs-5 col-sm-2 text-right m-t-5">Mensual</h2>
                            <select class="col-xs-7 col-sm-2 btn btn-default m-t-5" ng-options="month.id as month.name for month in months" ng-model="month" required>
                                <option value="" disabled="disabled" select="true">Seleccione</option>
                            </select>
                        </div>
                        <div class="row report-date p-l-15 p-r-15">
                            <h2 class="col-xs-5 col-sm-2 text-right m-t-5">Estado</h2>
                           <select class="col-xs-7 col-sm-2 btn btn-default m-t-5" ng-options="state.id as state.name for state in status" ng-model="status_id" required>
                                <option value="" disabled="disabled" selected="selected">Seleccione</option>
                            </select>
                        </div>

                        <div class="row m-t-15 p-15">
                            <div class="col-xs-12 col-sm-3 p-0 box-s">
                                <input type="button" ng-disabled="!filterMensual.$valid" ng-click="list3()" class="btn btn-block bgm-indigo m-t-5" value="buscar">
                            </div>
                        </div>

                    </div>

                    <div ng-form="filterHistorico" ng-show="searchView2 == 5" class="card-header bgm-blue p-t-0" style="margin-top: 18px;">
                        <div  class="row report-date p-l-15 p-r-15">
                            <h2 class="col-xs-6 col-sm-2 text-right m-t-5">Cliente</h2>
                            <select class="btn btn-default col-sm-2" ng-options="client.id as client.name for client in listClients" ng-change="clientChange()" ng-model="client_id" required>
                                <option value="" disabled="disabled" select="true">Seleccione</option>
                            </select>
                        </div>

                        <div class="row report-date p-l-15 p-r-15">
                            <h2 class="col-xs-5 col-sm-2 text-right m-t-5">Estado</h2>
                            <select class="col-xs-7 col-sm-2 btn btn-default m-t-5" ng-options="state.id as state.name for state in status" ng-change="statusChange()" ng-model="status_id" required>
                                <option value="" disabled="disabled" selected="selected">Seleccione</option>
                            </select>
                        </div>

                        <div class="row m-t-15 p-15">
                            <div class="col-xs-12 col-sm-3 p-0 box-s">
                                <input type="button" ng-disabled="!filterHistorico.$valid" ng-click="list3()" class="btn btn-block bgm-indigo m-t-5" value="buscar">
                            </div>
                        </div>
                    </div>
            </div>
    </div>

    

    <div class="card-body card-padding table-responsive">

        <ul class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
            <li ng-class="{active : searchView == 1}"><a ng-click="searchView = 1" role="tab" data-toggle="tab" aria-expanded="true">Clientes</a></li>
            <li ng-class="{active : searchView == 2}"><a ng-click="searchView = 2" role="tab" data-toggle="tab" aria-expanded="false">Eliminados</a></li>
            <li ng-class="{active : searchView == 3}"><a ng-click="searchView = 3" role="tab" data-toggle="tab" aria-expanded="false">Historial Clientes</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" ng-show="(searchView == 1)">
                <div class="col-sm-12" ng-show="updateList">
                    <i class="fa fa-refresh fa-spin fa-5x" style="display: table;margin: 0 auto;"></i>
                </div><br>
                <div class="col-sm-12" ng-hide="updateList">
                    <table id="table" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
                </div><br>
                <div class="card-footer">
                    <a  class="btn bgm-green waves-effect" ng-click="showNewClientModal();">Crear nuevo cliente</a>
                </div>
            </div>            
            <div role="tabpanel" class="tab-pane active" ng-show="(searchView == 2 && vacio == true)">
                <div class="col-sm-12">
                    <h3>No hay clientes eliminados</h3>
                </div><br>               
            </div>
            <div role="tabpanel" class="tab-pane active" ng-show="(searchView == 2 && vacio == false)">
                <div class="col-sm-12" ng-show="updateList">
                    <i class="fa fa-refresh fa-spin fa-5x" style="display: table;margin: 0 auto;"></i>
                </div><br>
                <div class="col-sm-12" ng-hide="updateList">
                    <table id="table2" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
                </div><br>
            </div>
            <div role="tabpanel" class="tab-pane active" ng-show="(searchView == 3 && vacio3 == true)">
                <div class="col-sm-12">
                    <h3>No hay información registrada</h3>
                </div><br>               
            </div>
            <div role="tabpanel" class="tab-pane active" ng-show="(searchView == 3 && vacio3 == false)">
                <div class="col-sm-12" ng-show="updateList3">
                    <i class="fa fa-refresh fa-spin fa-5x" style="display: table;margin: 0 auto;"></i>
                </div><br>
                <div class="col-sm-12" ng-hide="updateList3">
                    <table id="table3" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
                </div><br>
            </div>            
        </div>
        
    </div><br>
</div>


<div class="card" id="formulariohide" ng-show="(searchView == 1)" > 
    <div class="card-header bgm-blue">
        <h2>Cliente</h2>
    </div>

    <div class="card-body card-padding" >
        <div class="card-header">
            <h2>Información de cliente</h2>
        </div>

        <form name="formClient" id="form" class="form-horizontal" autocomplete="off">
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Nombre: </label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input ng-model="client.name" type="text" class="form-control" ng-disabled="!editImputClient" required>
                        </div>
                    </div>
                </div>

                <label class="col-xs-2 col-sm-2 control-label">Telefono: </label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input ng-model="client.phone" type="tel" class="form-control" minlength="9" ng-disabled="!editImputClient" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">DNI: </label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input ng-model="client.dni" type="text" class="form-control" ng-disabled="!editImputClient">
                        </div>
                    </div>
                </div>

                <label class="col-xs-2 col-sm-2 control-label">email: </label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input ng-model="client.email" type="text" class="form-control" ng-disabled="!editImputClient">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Facebook Nombre: </label>
                <div class="col-xs-9 col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input ng-model="client.facebook_name" type="text" class="form-control" ng-disabled="editImputClient" >
                        </div>
                    </div>
                </div>

                <label class="col-xs-2 col-sm-2 control-label">Facebook ID: </label>
                <div class="col-xs-9 col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input ng-model="client.facebook_id" type="tel" class="form-control" minlength="9" ng-disabled="editImputClient" >
                        </div>
                    </div>
                </div>

                <div class="col-xs-2 col-sm-2">
                    <a class="btn btn-block btn-primary" ng-click="updateLinkFacebook()">Actualizar Link</a>
                </div>

            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Dirección: </label>
                <div class="col-xs-10 col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input ng-model="client.address" type="text" class="form-control" ng-disabled="!editImputClient" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Referencia: </label>
                <div class="col-xs-10 col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input ng-model="client.reference" type="text" class="form-control" ng-disabled="!editImputClient" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="editImputClient">
                <div class="col-xs-12 col-sm-offset-2 col-sm-2">
                    <a class="btn btn-block btn-primary" ng-disabled="!formClient.$valid" ng-click="updateClient(client)">Guardar</a>
                </div>

                <div class="col-xs-12 col-sm-2">
                    <a class="btn btn-block bgm-red" ng-click="cancelEditClient()">Cancelar</a>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- New Client -->
<div class="modal fade" id="newClientModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Crear nuevo cliente</h3>
            </div>
            <div class="modal-body card-padding">
                <form name="clientValidate" class="form-horizontal" autocomplete="off">
                    <div class="form-group m-b-0">
                        <label class="col-xs-2 col-sm-4 control-label">Nombre: </label>
                        <div class="col-xs-10 col-sm-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-list"></i></span>
                                <div class="fg-line">
                                    <input ng-model="newClient.name" type="text" class="form-control input-sm" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-b-0">
                        <label class="col-xs-2 col-sm-4 control-label"> Link perfil Facebook: </label>
                        <div class="col-xs-8 col-sm-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-list"></i></span>
                                <div class="fg-line">
                                    <input ng-model="link" type="text" class="form-control input-sm" ng-change="linkChange()">
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-xs-2 col-sm-3">
                                <div class="input-group">
                                    <a class="btn btn-primary m-t-5" ng-disabled="!showSearchLink" ng-click="linkSearch()">Buscar</a>
                                </div>
                            </div>
                        </div>                        
                    </div>
    
                    <div class="form-group m-b-0" ng-hide="!showLinkInfo">                       
                        <label class="col-xs-2 col-xs-offset-2 col-sm-offset-2 col-sm-2 control-label"> Facebook_Nombre: </label>
                        <div class="col-xs-3 col-sm-3">                              
                                <label ng-model="newClient.facebook_name" type="text" class="control-label" > Cesar Moreno </label>
                        </div>
                        <label class="col-xs-2 col-sm-2 control-label"> Facebook_ID: </label>
                        <div class="col-xs-3 col-sm-3">    
                                <label ng-model="newClient.facebook_id" type="text" class="control-label" > 123456789 </label>
                        </div>
                    </div>

                    <div class="form-group m-b-0">
                        <label class="col-xs-2 col-sm-4 control-label"> Correo: </label>
                        <div class="col-xs-10 col-sm-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-list"></i></span>
                                <div class="fg-line">
                                    <input ng-model="newClient.email" type="text" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-b-0">
                        <label class="col-xs-2 col-sm-4 control-label"> Telefono: </label>
                        <div class="col-xs-10 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-list"></i></span>
                                <div class="fg-line">
                                    <input ng-model="newClient.phone" type="tel" class="form-control input-sm" minlength="9" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-b-0">
                        <label class="col-xs-2 col-sm-4 control-label"> DNI: </label>
                        <div class="col-xs-10 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-list"></i></span>
                                <div class="fg-line">
                                    <input ng-model="newClient.dni" type="text" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-b-0">
                        <label class="col-xs-2 col-sm-4 control-label"> Dirección: </label>
                        <div class="col-xs-10 col-sm-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-list"></i></span>
                                <div class="fg-line">
                                    <input ng-model="newClient.address" type="text" class="form-control input-sm" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-b-0">
                        <label class="col-xs-2 col-sm-4 control-label"> Referencia: </label>
                        <div class="col-xs-10 col-sm-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-list"></i></span>
                                <div class="fg-line">
                                    <input ng-model="newClient.reference" type="text" class="form-control input-sm" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-b-0">
                        <div class="col-xs-offset-2 col-xs-9 col-sm-offset-4 col-sm-7">
                            <a class="btn btn-primary m-t-5" ng-disabled="!clientValidate.$valid" ng-click="saveClient(newClient)">Guardar</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="close()"> Cerrar </button>
            </div>
        </div>
    </div>
</div>

<!-- New Link Facebook -->
<div class="modal fade" id="newLinkFacebook" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Actualizar Link Facebook cliente</h3>
            </div>
            <div class="modal-body card-padding">
                <form name="clientLinkFacebook" class="form-horizontal" autocomplete="off">                   

                    <div class="form-group m-b-0">
                        <label class="col-xs-2 col-sm-4 control-label">Link perfil Facebook: </label>
                        <div class="col-xs-8 col-sm-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-list"></i></span>
                                <div class="fg-line">
                                    <input ng-model="newClient.link" type="text" class="form-control input-sm" ng-changed="linkChange()" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-xs-2 col-sm-3">
                                <div class="input-group">
                                    <a class="btn btn-primary m-t-5" ng-click="linkSearch()" ng-disabled="!clientLinkFacebook.$valid">Buscar</a>
                                </div>
                            </div>
                        </div> 
                    </div> 

                    <div class="form-group m-b-0" ng-hide="!showLinkInfo">                       
                        <label class="col-xs-2 col-xs-offset-2 col-sm-offset-2 col-sm-2 control-label">Facebook_Nombre: </label>
                        <div class="col-xs-3 col-sm-3">                              
                                <label ng-model="newClient.facebook_name" type="text" class="control-label" > Cesar Moreno </label>
                        </div>
                        <label class="col-xs-2 col-sm-2 control-label">Facebook_ID: </label>
                        <div class="col-xs-3 col-sm-3">    
                                <label ng-model="newClient.facebook_id" type="text" class="control-label" > 123456789</label>
                        </div>
                    </div>                   

                    <div class="form-group m-b-0">
                        <div class="col-xs-offset-2 col-xs-9 col-sm-offset-4 col-sm-7">
                            <div class="input-group">
                                <a class="btn btn-primary m-t-5" ng-disabled="true" ng-click="#" >Actualizar</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="close()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
