<div class="card">
        <div class="card-header bgm-blue">
            <h2>Reporte de movimientos entre fechas</h2>
            <button ng-disabled="updateList" class="btn bgm-green btn-float waves-effect btnLista" ng-click="list()"
                        data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Pulse para actualizar los registros"
                        title="" data-original-title="Actualizar"><i class="md md-sync"></i></button>
        </div>
        <div class="card-header bgm-blue">
           <div ng-form="dates" class="row report-date">
                <h2 class="col-xs-12 col-sm-1 text-right">Fecha Inicio</h2>
                <input type="date" class="btn btn-default col-sm-2" ng-model="data.date1" required>
                <h2 class="col-xs-12 col-sm-1 text-right">Fecha Final</h2>
                <input type="date" class="btn btn-default col-sm-2" ng-model="data.date2" required>
               <h2 class="col-xs-12 col-sm-1 text-right">Estado</h2>
                <select class="col-sm-2" ng-model="data.status">
                   <option value="Vendido">Vendido</option>
                   <option value="Retornado">Retornado</option>
                   <option value="salida">Salida</option>
                </select>
               <h2 class="col-xs-12 col-sm-1 text-right">Proveedorl</h2>
                <select class="col-sm-2" ng-options="provider.id as provider.name for provider in providers" ng-model="data.provider">
                   <option value="" disabled="disabled" selected="selected">Seleccione</option>
                </select>
               <h2 class="col-xs-12 col-sm-1 m-t-20 text-right">Producto</h2>
                <select class="col-sm-2 m-t-20" ng-change="listProducts('s')" ng-options="product.name as product.name for product in products" ng-model="data.name">
                   <option value="" disabled="disabled" selected="selected">Seleccione</option>
                </select>
               <h2 class="col-xs-12 col-sm-1 m-t-20 text-right">Talla</h2>
                <select class="col-sm-2 m-t-20" ng-change="listProducts('c')" ng-options="size.id as size.name for size in sizes" ng-model="data.size">
                   <option value="" disabled="disabled" selected="selected">Seleccione</option>
                </select>
               <h2 class="col-xs-12 col-sm-1 m-t-20 text-right">Color</h2>
                <select class="col-sm-2 m-t-20" ng-options="color.id as color.name for color in colors" ng-model="data.color">
                   <option value="" disabled="disabled" selected="selected">Seleccione</option>
                </select>
                <input type="button" ng-disabled="!dates.$valid" ng-click="filter()" class="btn bgm-indigo m-l-20 m-t-20 col-sm-1" value="buscar">
                <input type="button" ng-if="reportDownload" ng-click="download()" class="btn bgm-purple m-l-20 m-t-20 col-sm-1" value="DESCARGAR PDF">
           </div>
        </div>
        <div class="card-body card-padding table-responsive">
                <div class="col-sm-12">
                        <table id="table" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
                    </div><br>
            </div><br>
    </div>
    <div class="card">
        <div class="card-header">
                <h2>Vista Grafica</h2>
            </div>
        <div class="card-body card-padding">
                <div id="chart" class="flot-chart-pie"></div>
                <div class="flc-bar hidden-xs"></div>
            </div>
    </div>