    <div class="card">
        <div class="card-header bgm-blue">
            <h2>Reporte de movimientos entre fechas</h2>
            <button ng-disabled="updateList" class="btn bgm-green btn-float waves-effect btnLista" ng-click="list();data = {};"
                        data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Pulse para actualizar los registros"
                        title="" data-original-title="Actualizar"><i class="md md-sync"></i></button>
        </div>
        <div class="card-header bgm-blue">
           <div ng-form="dates" class="row report-date">
                <h2 class="col-xs-5 col-sm-1 text-right m-t-20">F. Pedid</h2>
                <input type="date" class="btn btn-default col-xs-7 col-sm-2 m-t-20" ng-model="data.order_date">

                <h2 class="col-xs-5 col-sm-1 text-right m-t-20">N° Pedid</h2>
                <div class="col-xs-7 col-sm-1 m-t-20 p-0">
                    <div class="form-group m-b-0">
                        <div class="fg-line">
                            <input type="text" class="form-control p-l-20" ng-model="data.order">
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <h2 class="col-xs-5 col-sm-1 text-right m-t-20">F. Entr.</h2>
                <input type="date" class="btn btn-default col-xs-7 col-sm-2 m-t-20" ng-model="data.date1">

                <h2 class="col-xs-5 col-sm-1 text-right m-t-20">F. Entr.</h2>
                <input type="date" class="btn btn-default col-xs-7 col-sm-2 m-t-20" ng-model="data.date2" ng-required="data.date1">

                <h2 class="col-xs-5 col-sm-1 text-right m-t-20">Estado</h2>
                <select class="col-xs-7 col-sm-2 m-t-20" ng-model="data.status">
                   <option value="" selected="selected">Seleccione</option>
                   <option value="Vendido">Vendido</option>
                   <option value="Retornado">Retornado</option>
                   <option value="salida">Salida</option>
                   <option value="reprogramado">Reprogramado</option>
                </select>

                <h2 class="col-xs-5 col-sm-1 text-right  m-t-20">Proveedor</h2>
                <select class="col-xs-7 col-sm-2 m-t-20" ng-change="noProduct()" ng-options="provider.id as provider.name for provider in providers" ng-model="data.provider">
                   <option value="" selected="selected">Seleccione</option>
                </select>

                <h2 class="col-xs-5 col-sm-1 m-t-20 text-right">Producto</h2>
                <select class="col-xs-7 col-sm-2 m-t-20" ng-change="listProducts()" ng-options="product.name as product.name for product in products" ng-model="data.name">
                   <option value=""  selected="selected">Seleccione</option>
                </select>

                <h2 class="col-xs-5 col-sm-1 m-t-20 text-right">Talla</h2>
                <select class="col-xs-7 col-sm-2 m-t-20" ng-options="size.id as size.name for size in sizes" ng-model="data.size">
                   <option value=""  selected="selected">Seleccione</option>
                </select>

                <h2 class="col-xs-5 col-sm-1 m-t-20 text-right">Color</h2>
                <select class="col-xs-7 col-sm-2 m-t-20" ng-options="color.id as color.name for color in colors" ng-model="data.color">
                   <option value="" selected="selected">Seleccione</option>
                </select>

                <input type="button" ng-disabled="!dates.$valid" ng-click="filter()" class="btn bgm-indigo m-l-20 m-t-20 col-sm-1" value="buscar">
                <input type="button" ng-disabled="downloadBtn" ng-click="download()" class="btn bgm-purple m-l-20 m-t-20 col-sm-1" value="PDF">
           </div>
        </div>
        <div class="card-body card-padding table-responsive">
                <div class="col-sm-12">
                        <table id="table" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
                    </div><br>
            </div><br>
    </div>

<div class="row">
    <div class="col-md-12">
        <div ng-show="drawShow" class="card">
            <div class="card-header">
                <h2>Vista grafica <small>{{ infoMonth.name + ' ' + infoMonth.start + ' - ' + infoMonth.end }}</small></h2>
            </div>

            <div class="card-body card-padding-sm">
                <div id="bar-chart" class="flot-chart"></div>
                <div class="flc-bar"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="returnDetail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Detalle de retorno</h3>
            </div>
            <div class="modal-body card-padding">
                <form name="reProgramMoviment" class="form-horizontal" autocomplete="off">
                    <div class="form-group m-b-0">
                        <label class="col-xs-12 col-sm-4 control-label">Motivo: </label>
                        <label class="col-xs-12 col-sm-8 control-label" style="text-align:left;">{{ returnDetail }}</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>