<div class="card">
    <div class="card-header bgm-blue">
        <h2>Gestion de movimientos de productos</h2>
        <button ng-disabled="updateList" class="btn bgm-green btn-float waves-effect btnLista" ng-click="list()"
                data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Pulse para actualizar los registros"
                title="" data-original-title="Actualizar"><i class="md md-sync"></i></button>
    </div>

    <div class="card-body card-padding table-responsive">

        <div class="col-sm-12" ng-show="updateList">
            <i class="fa fa-refresh fa-spin fa-5x" style="display: table;margin: 0 auto;"></i>
        </div><br>

        <div class="col-sm-12" ng-hide="updateList">
            <table id="table" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
        </div><br>
        <div class="card-footer">
            <input  class="btn bgm-green waves-effect" type='submit' value='Nuevo registro' ng-click="new();">
        </div>
    </div><br>
</div>

<div class="card" id="formulariohide">
    <div class="card-header bgm-blue">
        <h2>Crear movimiento de productos</h2>
    </div>

    <div class="card-body card-padding" >
        <div class="card-header">
            <h2>Productos</h2>
        </div>

        <div class="row">
            <div class="attr-group col-xs-12">
                <table class="table table-bordered w-100 table-attr text-center">
                    <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Talla</th>
                        <th>Color</th>
                        <th>Precio Venta</th>
                        <th>Descuento</th>
                        <th>Precio Final</th>
                        <th>F. Salida</th>
                        <th>Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in products">
                        <td style="display: table-cell;">{{ product.cod }}</td>
                        <td style="display: table-cell;">{{ product.name }}</td>
                        <td style="display: table-cell;">{{ product.size }}</td>
                        <td style="display: table-cell;">{{ product.color }}</td>
                        <td style="display: table-cell;">{{ product.price }}</td>
                        <td style="display: table-cell; width: 160px">
                            <input class="form-control input-sm" type="number"  ng-change="preciofinal($index)" ng-model="product.discount" required>
                        </td>
                        <td style="display: table-cell;">{{ product.preciofinal }}</td>
                        <td style="display: table-cell; width: 160px">
                            <input class="form-control input-sm" type="date" ng-model="dataProducts[$index].date" required>
                        </td>
                        <td style="width: 80px"><button ng-click="removeProduct($index)" class="btn btn-danger btn-sm waves-effect">Eliminar</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-disabled="products.length == 0" ng-disabled="formSubmit"  ng-click="submit()" type="button" class="btn btn-primary btn-sm waves-effect">Guardar</button>
                    <a ng-click="cancel()" class="btn btn-danger btn-sm waves-effect">Cancelar</a>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="codes" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">codigos disponibles</h3>
            </div>
            <div class="modal-body card-padding">
                <form name="default" class="form-horizontal" autocomplete="off">
                    <div class="form-group m-b-0">
                        <label class="col-xs-2 col-sm-4 control-label">Seleccione codigo</label>
                        <div class="col-xs-10 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-list"></i></span>
                                <div class="fg-line select">
                                    <select class="form-control" ng-options="$index as ('codigo: ' + code.cod) for ($index, code) in codes" ng-model="otherCod" required>
                                        <option value="" disabled="disabled" select="true">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary m-t-5 col-xs-12 col-sm-3" ng-disabled="!default.$valid" ng-click="addProduct2(otherCod)">agrega1r</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="reProgram" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Reprogramacion de salida</h3>
            </div>
            <div class="modal-body card-padding">
                <form name="reProgramMoviment" class="form-horizontal" autocomplete="off">
                    <div class="form-group m-b-0">
                        <label class="col-xs-12 col-sm-4 control-label">Fecha de salida</label>
                        <div class="col-xs-12 col-sm-4 report-date">
                             <input type="date" class="btn btn-block btn-default m-t-5" ng-model="programDate" required>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a class="btn btn-block btn-primary m-t-5" ng-disabled="!reProgramMoviment.$valid" ng-click="prdProgram()">guardar</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>