<div class="card">
    <div class="card-header bgm-blue">
        <h2>Gestion de movimientos de productos</h2>
        <button ng-disabled="updateList" class="btn bgm-green btn-float waves-effect btnLista" ng-click="list()"
                data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Pulse para actualizar los registros"
                title="" data-original-title="Actualizar"><i class="md md-sync"></i></button>
    </div>

    <div class="card-body card-padding table-responsive">

        <div class="col-sm-12" ng-show="updateList">
            <i class="fa fa-refresh fa-spin fa-5x" style="display: table;margin: 0 auto;"></i>
        </div><br>

        <div class="col-sm-12" ng-hide="updateList">
            <table id="table" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
        </div><br>
        <div class="card-footer">
            <input  class="btn bgm-green waves-effect" type='submit' value='Nuevo registro' ng-click="new();">
        </div>
    </div><br>
</div>

<div class="card" id="formulariohide">
    <div class="card-header bgm-blue">
        <h2>Crear movimiento de productos</h2>
    </div>

    <div ng-form="orderDetail" class="card-header bgm-lightblue">
        <div class="row report-date">
            <div class="col-xs-5 col-sm-1 f-10 text-right">
                <label class="control-label c-white ">Cod&nbsp;Pedido</label>
            </div>

            <div class="col-xs-7 col-sm-3">
                <div class="input-group w-100">
                    <input ng-model="data.codOrder" type="text" class="form-control input-sm p-l-20" required>
                </div>
            </div>

            <div class="visible-xs clearfix"></div>

            <div class="col-xs-5 col-sm-1 f-10 text-right">
                <label class="control-label c-white f-10">F.&nbsp;Pedido</label>
            </div>

            <div class="col-xs-7 col-sm-3">
                <div class="input-group w-100">
                    <div class="report-date">
                        <input ng-model="data.requestDate" type="date" class="btn btn-block" required>
                    </div>
                </div>
            </div>

            <div class="visible-xs clearfix"></div>

            <div class="col-xs-5 col-sm-1 f-10 text-right">
                <label class="control-label c-white f-10">F.&nbsp;Salida:</label>
            </div>

            <div class="col-xs-7 col-sm-3">
                <div class="input-group w-100">
                    <div class="report-date">
                        <input ng-model="data.shipmentDate" type="date" class="btn btn-block" required>
                    </div>
                </div>
            </div>
        </div>

        <div ng-form="dates" class="row report-date">
            <div class="col-xs-5 col-sm-1 m-t-20 f-10 text-right">
                <label class="control-label c-white">Venddor(a)</label>
            </div>

            <div class="col-xs-5 col-sm-3 m-t-20">
                <input ng-model="data.client_id" type="hidden" required>
                <select class="btn-block" ng-options="seller.id as seller.name for seller in sellers" ng-model="data.seller_id" required>
                   <option value="" selected="selected" disabled="disabled">Seleccione</option>
                </select>
            </div>

            <div class="visible-xs clearfix"></div>

            <div class="col-xs-5 col-sm-1 m-t-20 f-10 text-right">
               <label class="control-label c-white">Cliente</label>
            </div>

            <div class="col-xs-5 col-sm-3 m-t-20">
                <input id="clientSearchText" ng-change="listView=false;client=null;clients=null;data.client_id=null" ng-model="clientSearchText" type="text" class="form-control input-sm p-l-20" required>
            </div>

            <div class="visible-xs clearfix"></div>

            <div class="col-xs-offset-5 col-xs-7 col-sm-offset-0 col-sm-2 m-t-20">
                <input type="button" ng-click="clientSearch(clientSearchText)" class="btn btn-block bgm-green" value="Buscar">
            </div>

            <div class="col-xs-offset-5 col-xs-7 col-sm-offset-0 col-sm-2 m-t-20">
                <input type="button" class="btn btn-block bgm-purple" value="Nuevo Cliente">
            </div>
        </div>
    </div>

    <div class="card-body card-padding" >
        <div>
            <div class="card-header">
                <h2>Cliente</h2>
            </div>

            <form name="formproduct" id="form" class="form-horizontal" autocomplete="off">
                <div class="form-group">
                    <label class="col-xs-2 col-sm-2 control-label">Nombre: </label>
                    <div class="col-xs-10 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="md md-person"></i></span>
                            <div class="fg-line">
                                <input ng-model="client.name" type="text" class="form-control" disabled="dissabled">
                            </div>
                        </div>
                    </div>

                    <label class="col-xs-2 col-sm-2 control-label">Telefono: </label>
                    <div class="col-xs-10 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="md md-person"></i></span>
                            <div class="fg-line">
                                <input ng-model="client.phone" type="text" class="form-control" disabled="dissabled">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 col-sm-2 control-label">DNI: </label>
                    <div class="col-xs-10 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="md md-person"></i></span>
                            <div class="fg-line">
                                <input ng-model="client.dni" type="text" class="form-control" disabled="dissabled">
                            </div>
                        </div>
                    </div>

                    <label class="col-xs-2 col-sm-2 control-label">Dirección: </label>
                    <div class="col-xs-10 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="md md-person"></i></span>
                            <div class="fg-line">
                                <input ng-model="client.address" type="text" class="form-control" disabled="dissabled">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="card-header">
            <h2>Productos</h2>
        </div>

        <div class="row">
            <div class="attr-group col-xs-12">
                <table class="table table-bordered w-100 table-attr text-center">
                    <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Talla</th>
                        <th>Color</th>
                        <th>Precio Venta</th>
                        <th>Descuento</th>
                        <th>Precio Final</th>
                        <th>Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in products">
                        <td style="display: table-cell;">{{ product.cod }}</td>
                        <td style="display: table-cell;">{{ product.name }}</td>
                        <td style="display: table-cell;">{{ product.size }}</td>
                        <td style="display: table-cell;">{{ product.color }}</td>
                        <td style="display: table-cell;">{{ product.price }}</td>
                        <td style="display: table-cell; width: 160px">
                            <input class="form-control input-sm" type="number"  ng-change="preciofinal($index)" ng-model="product.discount" required>
                        </td>
                        <td style="display: table-cell;">{{ product.preciofinal }}</td>
                        <td style="width: 80px"><button ng-click="removeProduct($index)" class="btn btn-danger btn-sm waves-effect">Eliminar</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-disabled="products.length == 0 || !orderDetail.$valid" ng-click="submit(data)" type="button" class="btn btn-primary btn-sm waves-effect">Guardar</button>
                    <a ng-click="cancel()" class="btn btn-danger btn-sm waves-effect">Cancelar</a>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="codes" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">codigos disponibles</h3>
            </div>
            <div class="modal-body card-padding">
                <form name="default" class="form-horizontal" autocomplete="off">
                    <div class="form-group m-b-0">
                        <label class="col-xs-2 col-sm-4 control-label">Seleccione codigo</label>
                        <div class="col-xs-10 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-list"></i></span>
                                <div class="fg-line select">
                                    <select class="form-control" ng-options="$index as ('codigo: ' + code.cod) for ($index, code) in codes" ng-model="otherCod" required>
                                        <option value="" disabled="disabled" select="true">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary m-t-5 col-xs-12 col-sm-3" ng-disabled="!default.$valid" ng-click="addProduct2(otherCod)">agregar</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="reProgram" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Reprogramacion de salida</h3>
            </div>
            <div class="modal-body card-padding">
                <form name="reProgramMoviment" class="form-horizontal" autocomplete="off">
                    <div class="form-group m-b-0">
                        <label class="col-xs-12 col-sm-4 control-label">Fecha de salida</label>
                        <div class="col-xs-12 col-sm-4 report-date">
                             <input type="date" class="btn btn-block btn-default m-t-5" ng-model="programDate" required>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a class="btn btn-block btn-primary m-t-5" ng-disabled="!reProgramMoviment.$valid" ng-click="prdProgram()">guardar</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="list" class="search-list">
    <ul ng-show="listView" class="dropdown-menu dm-icon">
        <li ng-repeat="client in clients" ng-click="selectClient($index)">
            <a ui-sref="Movimientos">{{ client.name + ' - Cel: ' + client.phone + ' - DNI: ' + client.dni  }}</a>
        </li>
    </ul>
</div>