<div class="card" >
    <div class="card-header bgm-blue">
        <h2>Productos Vendidos</h2>
        <button ng-disabled="updateList" class="btn bgm-green btn-float waves-effect btnLista" ng-click="list()"
                data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Pulse para actualizar los registros"
                title="" data-original-title="Actualizar"><i class="md md-sync"></i></button>
    </div>

    <div class="card-header bgm-blue">
        <div ng-form="dates" class="row report-date">
            <h2 class="col-xs-12 col-sm-1 text-right">Diario</h2>
            <input type="date" class="btn btn-default col-sm-2" ng-model="data.date1" required>
            <input type="button" ng-disabled="!dates.$valid" ng-click="perDay()" class="btn bgm-indigo m-l-20 col-sm-1" value="buscar">
        </div>
    </div>

    <div class="card-header bgm-blue">
        <div ng-form="month" class="row report-date">

            <h2 class="col-xs-12 col-sm-1 text-right">Año</h2>
            <select class="col-sm-1" ng-options="year as year for year in years" ng-model="data2.year" required>
                <option value="" disabled="disabled" selected="selected">Seleccione</option>
            </select>

            <h2 class="col-xs-12 col-sm-1 text-right">Mensual</h2>
            <select class="btn btn-default col-sm-1" ng-options="month.id as month.name for month in months" ng-model="data2.month" required>
                <option value="" disabled="disabled" select="true">Seleccione</option>
            </select>

            <input type="button" ng-disabled="!month.$valid" ng-click="perMonth()" class="btn bgm-indigo m-l-20 col-sm-1" value="buscar">

        </div>
    </div>


    <div class="card-header bgm-blue">
        <div ng-form="datesaux" class="row report-date">
            <h2 class="col-xs-12 col-sm-1 text-right">Inicio</h2>
            <input type="date" class="btn btn-default col-sm-2" ng-model="data3.dateaux1" required>
            <h2 class="col-xs-12 col-sm-1 text-right">Fin</h2>
            <input type="date" class="btn btn-default col-sm-2" ng-model="data3.dateaux2" required>
            <input type="button" ng-disabled="!datesaux.$valid" ng-click="perDate()" class="btn bgm-indigo m-l-20 col-sm-1" value="buscar">
        </div>
    </div>

    <div class="card-body card-padding table-responsive">
        <div class="col-sm-12">
            <table id="table" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
        </div><br>
    </div><br>

    <div class="card-header bgm-blue">
        <form name="formproduct" id="form" class="form-horizontal" autocomplete="off">
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label" style="color: white;font-size: 15px;">Ingresos Acumulados</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <label class="control-label m-l-10" style="color: white;text-align: left;font-size: 20px;" ng-bind-html="monto | currency:'S/ ':2"></label>
                    </div>
                </div>
            </div>
        </form>
    </div>

    

    <div class="card-body card-padding table-responsive">
        <div class="col-sm-12" style="display: block;width: 1000px;height: 1000px;">
            <canvas id="lineChart" ></canvas>
        </div><br>
    </div><br>

</div>

