<div class="card" >
    <div class="card-header bgm-blue">
        <h2>Gestión de productos</h2>
        <button class="btn bgm-red btn-float waves-effect btnLista" data-trigger="hover" data-toggle="popover"
                 data-placement="top" ng-click="resetFilter()"><i class="md md-close"></i></button>
    </div>
    <div class="card-header bgm-lightblue">
       <div ng-form="dates" class="row report-header">
            <div class="col-xs-5 col-sm-1 m-t-20">
                <h2 class="text-right">Codigo: </h2>
            </div>
            <div class="col-xs-7 col-sm-1 m-t-20 p-0">
                <div class="form-group m-b-0">
                    <div class="fg-line">
                        <input type="text" class="form-control p-l-10 uppercase" ng-model="data.order">
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-xs-5 col-sm-1 m-t-20">
                <h2 class="text-right">Tipo: </h2>
            </div>
            <div class="col-xs-7 col-sm-2 m-t-20 p-0">
                <select ng-options="type.id as type.name for type in types" ng-model="data.type">
                   <option value="" selected="selected">Seleccione</option>
                </select>
            </div>

            <div class="col-xs-5 col-sm-1 m-t-20">
                <h2 class="text-right">Proveedor: </h2>
            </div>
            <div class="col-xs-7 col-sm-2 m-t-20 p-0">
                <select ng-options="provider.id as provider.name for provider in providers" ng-model="data.provider_id">
                   <option value="" selected="selected">Seleccione</option>
                </select>
            </div>

            <div class="col-xs-5 col-sm-1 m-t-20">
                <h2 class="text-right">Venta: </h2>
            </div>
            <div class="col-xs-7 col-sm-2 m-t-20 p-0">
                <select ng-model="data.status_sale">
                   <option value="" selected="selected">Seleccione</option>
                   <option value="0" selected="selected">Normal</option>
                   <option value="1" selected="selected">Liquidacion</option>
                </select>
            </div>

            <div class="col-xs-5 col-sm-1 m-t-20">
                <h2 class="text-right">Estado: </h2>
            </div>
            <div class="col-xs-7 col-sm-2 m-t-20 p-0">
                <select ng-model="data.status">
                    <option value="" selected="selected">Seleccione</option>
                    <option value="0">Salida</option>
                    <option value="1">Disponible</option>
                    <option value="2">Vendido</option>
                    <option value="3">Reservado</option>
                    <option value="4">Observado</option>
                    <option value="5">En Transición</option>
                    <option value="6">En Proveedor</option>
                </select>
            </div>

            <div class="col-xs-5 col-sm-1 m-t-20">
                <h2 class="text-right">Producto: </h2>
            </div>
            <div class="col-xs-7 col-sm-2 m-t-20 p-0">
                <select class="bgm-white selectpicker" selectpicker data-live-search="true" ng-options="product.name as product.name for product in products" ng-model="data.product">
                   <option value=""  selected="selected">Seleccione</option>
                </select>
            </div>

            <div class="col-xs-5 col-sm-1 m-t-20">
                <h2 class="text-right">Talla: </h2>
            </div>
            <div class="col-xs-7 col-sm-2 m-t-20 p-0">
                <select ng-options="size.id as size.name for size in sizes" ng-model="data.size">
                   <option value=""  selected="selected">Seleccione</option>
                </select>
            </div>

            <div class="col-xs-5 col-sm-1 m-t-20">
                <h2 class="text-right">Color: </h2>
            </div>
            <div class="col-xs-7 col-sm-2 m-t-20 p-0">
                <select class="bgm-white selectpicker" selectpicker data-live-search="true" ng-options="color.id as color.name for color in colors" ng-model="data.color">
                   <option value="" selected="selected">Seleccione</option>
                </select>
            </div>

            <div class="col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-2 p-0 m-t-20">
                <input type="button" class="btn btn-block bgm-indigo" value="buscar" ng-disabled="btnDisable" ng-click="searchList(data)">
            </div>
       </div>
    </div>
    <div class="card-body card-padding table-responsive">
        <div class="col-sm-12" ng-show="updateList">
            <i class="fa fa-refresh fa-spin fa-5x" style="display: table;margin: 0 auto;"></i>
        </div><br>
        <div class="col-sm-12" ng-hide="updateList || !(tableData.length > 0)">
            <table id="table" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
        </div><br>
    </div><br>
</div>

<!-- Modal -->
<div class="modal fade" id="productMovements" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Detalle de movimientos</h3>
            </div>
            <div class="modal-body card-padding">
                <form class="form-horizontal" autocomplete="off" submit="return false;">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="attr-group col-xs-12">
                                    <table class="table table-bordered w-100 table-attr text-center table-mediun table-detail">
                                        <thead>
                                        <tr>
                                            <th>F. Pedido</th>
                                            <th>F. Entrega</th>
                                            <th>N° P.</th>
                                            <th>Vendedor(a)</th>
                                            <th>Codigo</th>
                                            <th>Producto</th>
                                            <th>Color</th>
                                            <th>Talla</th>
                                            <th>Estado</th>
                                            <th>Estado V.</th>
                                            <th>P. Real</th>
                                            <th>Precio</th>
                                            <th>Desc.</th>
                                            <th>P. Final</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="movement in productMovements">
                                                <td>{{ movement.pedido }}</td>
                                                <td>{{ movement.entrega }}</td>
                                                <td>{{ movement.cod_order }}</td>
                                                <td>{{ movement.seller }}</td>
                                                <td>{{ movement.codigo }}</td>
                                                <td>{{ movement.product }}</td>
                                                <td>{{ movement.color }}</td>
                                                <td>{{ movement.talla }}</td>
                                                <td ng-bind-html="movementStatus(movement)"></td>
                                                <td ng-bind-html="payStatus(movement.liquidation)"></td>
                                                <td>{{ movement.price_real }}</td>
                                                <td>{{ movement.price }}</td>
                                                <td>{{ movement.discount }}</td>
                                                <td>{{ movement.price_final }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div ng-hide="!productMovements.length == 0">
                                        <h4>Sin movimientos asociados.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalDetail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Descipcion de cambio de estado</h3>
            </div>
            <div class="modal-body card-padding">
                <form name="form2" class="form-horizontal" autocomplete="off">
                    <div class="form-group">
                        <label class="col-xs-2 col-sm-4 control-label">Descripcion: </label>
                        <label class="col-xs-2 col-sm-4 control-label text-left-f">{{ statusDetail.description }}</label>
                    </div>
                </form>

    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="ReasonModal" tabindex="-1" role="dialog"> -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Motivo de cambio de estado</h3>
            </div>
            <div class="modal-body card-padding">
                <form name="ReasonForm" class="form-horizontal" autocomplete="off">
                    <div class="form-group">
                        <label class="col-xs-2 col-sm-3 control-label">Seleccione motivo</label>
                        <div class="col-xs-10 col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-list"></i></span>
                                <div class="fg-line select">
                                    <select class="form-control" ng-options="$index as reason.description for ($index, reason) in reasons" ng-model="reason_i" required ng-disabled="stsCase">
                                        <option value="" disabled="disabled" select="true">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" ng-disabled="!ReasonForm.$valid || stsCase" ng-click="confirmChangeStatus(reason_i, product_i)">Guardar</button>
                <button type="button" class="btn bgm-teal pull-left" ng-click="confirmRestoreStatus(reason_i, product_i)" ng-show="stsCase">Restaurar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

