'<div class="card" >'+
'    <div class="card-header bgm-blue">'+
'        <h2>Gestion de movimientos de productos</h2>'+
'        <button ng-disabled="updateList" class="btn bgm-green btn-float waves-effect btnLista" ng-click="list()"'+
'                data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Pulse para actualizar los registros"'+
'                title="" data-original-title="Actualizar"><i class="md md-sync"></i></button>'+
'    </div>'+
'    <div class="card-body card-padding table-responsive">'+
'        <div class="col-sm-12">'+
'            <table id="table" class="table table-bordered table-striped w-100" style="text-align:center;"></table>'+
'        </div><br>'+
'    </div><br>'+
'</div>';