<div class="card" >
    <div class="card-header bgm-blue">
        <h2>Gestion de clientes</h2>
        <button ng-disabled="updateList" class="btn bgm-green btn-float waves-effect btnLista" ng-click="list()"
                data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Pulse para actualizar los registros"
                title="" data-original-title="Actualizar"><i class="md md-sync"></i></button>
    </div>

    <div class="card-body card-padding table-responsive">
        <div class="col-sm-12">
            <table id="table" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
        </div><br>
        <div class="card-footer">
            <input  class="btn bgm-green waves-effect" type='submit' value='Nuevo registro' ng-click="new();">
        </div>
    </div><br>
</div>

<div class="card" id="formulariohide">
    <div class="card-header bgm-blue">
        <h2>Crear/Editar Cliente</h2>
    </div>

    <form name="customerForm" id="form" class="form-horizontal" autocomplete="off">

        <div class="card-body card-padding" >
            <div class="card-header">
                <h2>Datos de Cliente</h2>
            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Nombres</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input ng-model="customer.id" type="hidden">
                            <input ng-model="customer.name" type="text" class="form-control" placeholder="johnny depp" required>
                        </div>
                    </div>
                </div>

                <label class="col-xs-2 col-sm-2 control-label">edad</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md  md-looks-2  md-keyboard-capslock"></i></span>
                        <div class="fg-line">
                            <input ng-model="customer.age" type="date" class="form-control" placeholder="20/07/1993" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Telefono</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-smartphone"></i></span>
                        <div class="fg-line">
                            <input ng-model="customer.phone" type="text" class="form-control" placeholder="955654265" required>
                        </div>
                    </div>
                </div>

                <label class="col-xs-2 col-sm-2 control-label">Activar/Desactivar</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <div class="toggle-switch" data-ts-color="green">
                            <label for="ts4" class="ts-label"></label>
                            <input ng-true-value="1" ng-false-value="0" ng-checked="customer.status" ng-model="customer.status" id="ts4" type="checkbox" hidden="hidden">
                            <label for="ts4" class="ts-helper"></label>
                        </div>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-disabled="!customerForm.$valid" ng-disabled="formSubmit" ng-click="submit()" type="button" class="btn btn-primary btn-sm waves-effect">Guardar</button>
                    <a ng-click="cancel()" class="btn btn-danger btn-sm waves-effect ">Cancelar</a>
                    <a ng-click="social()" class="btn bgm-lightblue btn-sm waves-effect pull-right m-l-10">Redes Sociales</a>
                    <a ng-click="phone()" class="btn bgm-blue btn-sm waves-effect pull-right m-l-10">Telefonos</a>
                    <a ng-click="address()" class="btn bgm-indigo btn-sm waves-effect pull-right">Direcciones</a>

                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Detalle de usuario</h3>
            </div>
            <div class="modal-body card-padding">
                <form class="form-horizontal" autocomplete="off" submit="return false;">
                    <div class="form-group form-pad-top">
                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Nombre: </label>
                        <label class="col-xs-6 col-sm-3 control-label" style="text-align: left" ng-bind="customerDetail.name"></label>

                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-0 col-sm-2 control-label">Edad: </label>
                        <label class="col-xs-6 col-sm-3 control-label" style="text-align: left" ng-bind="customerDetail.age"></label>
                    </div>
                    <div class="form-group form-pad-top">
                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Telefono: </label>
                        <label class="col-xs-6 col-sm-3 control-label" style="text-align: left" ng-bind="customerDetail.phone"></label>

                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-0 col-sm-2 control-label">Estado: </label>
                        <label class="col-xs-6 col-sm-3 control-label" style="text-align: left" ng-bind="getStatus(customerDetail.status)"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Direcciones: </label>
                        <div class="col-xs-6 col-sm-8">
                            <div ng-repeat="address in customerDetail.addresses" style="padding: 20px 0 0 0;">
                                <p ng-bind="'ubicacion: ' + address.ubigeo.UBIPRN + ' - ' + address.ubigeo.UBIDEN + ' - ' + address.ubigeo.UBIDSN"></p>
                                <p ng-bind="'descripcion: ' + address.description"></p>
                                <p ng-bind="'referencia: ' + address.reference"></p>
                                <hr ng-if="($index % 2) == 0">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Otros Telefonos: </label>
                        <div class="col-xs-6 col-sm-8">
                            <div ng-repeat="phnoe in customerDetail.phones" style="padding: 20px 0 0 0;">
                                <p ng-bind="'operador: ' + phnoe.operator.name"></p>
                                <p ng-bind="'numero: ' + phnoe.number"></p>
                                <hr ng-if="($index % 2) == 0">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Redes sociales: </label>
                        <div class="col-xs-6 col-sm-8">
                            <div ng-repeat="social in customerDetail.socials" style="padding: 20px 0 0 0;">
                                <p ng-bind="'Red social: ' + social.channel.name"></p>
                                <p ng-bind="'Url: ' + social.channel_url"></p>
                                <hr ng-if="($index % 2) == 0">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
