<div class="card">
    <div class="card-header bgm-blue">
        <h2>Asistencia y descuentos por mes</h2>
        <button ng-disabled="updateList" class="btn bgm-green btn-float waves-effect btnLista" ng-click="list()"
                data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Pulse para actualizar los registros"
                title="" data-original-title="Actualizar"><i class="md md-sync"></i></button>
    </div>
    <div class="card-header bgm-blue">
        <div class="row report-date">
            <h2 class="col-xs-6 col-sm-3 text-right">Minutos de tardanza</h2>
            <h2 class="col-xs-6 col-sm-3" ng-bind="discounts.delay_min + ' minutos'"></h2>
            <h2 class="col-xs-6 col-sm-3 text-right">Monto por tardanzas</h2>
            <h2 class="col-xs-6 col-sm-3 f-700 bgm-red" ng-bind="'S/ ' + (discounts.delay_amount | number:2)"></h2>
            <h2 class="col-xs-6 col-sm-3 text-right">Minutos por break</h2>
            <h2 class="col-xs-6 col-sm-3" ng-bind="discounts.lunch_min  + ' minutos'"></h2>
            <h2 class="col-xs-6 col-sm-3 text-right">Monto por break</h2>
            <h2 class="col-xs-6 col-sm-3 f-700 bgm-red" ng-bind="'S/ ' + (discounts.lunch_amount | number:2)"></h2>
            <div class="col-sm-6"></div>
            <h2 class="col-xs-6 col-sm-3 text-right">Monto total del mes (a la fecha actual)</h2>
            <h2 class="col-xs-6 col-sm-3 f-700 bgm-green" ng-bind="'S/ ' + (discounts.day_amount | number:2)"></h2>
            <!--<div class="clearfix"></div>-->
            <!--<hr>-->
            <!--<div class="col-sm-6"></div>-->
            <!--<h2 class="col-xs-6 col-sm-3 text-right">Monto total del mes</h2>-->
            <!--<h2 class="col-xs-6 col-sm-3 f-700 bgm-green" ng-bind="'S/ ' + (discounts.day_amount | number:2)"></h2>-->
            <!--<div class="col-sm-6"></div>-->
            <!--<h2 class="col-xs-6 col-sm-3 text-right">Monto total de descuento</h2>-->
            <!--<h2 class="col-xs-6 col-sm-3 f-700 bgm-red" ng-bind="'S/ ' + (discounts.lunch_amount + discounts.delay_amount | number:2)"></h2>-->
            <!--<div class="clearfix"></div>-->
            <!--<hr>-->
            <!--<div class="col-sm-6"></div>-->
            <!--<h2 class="col-xs-6 col-sm-3 text-right">Balance del mes</h2>-->
            <!--<h2 class="col-xs-6 col-sm-3 f-700 bgm-green" ng-bind="'S/ ' + (discounts.day_amount - (discounts.lunch_amount + discounts.delay_amount) | number:2)"></h2>-->
        </div>
    </div>
    <div class="card-body card-padding table-responsive">
        <div class="col-sm-12">
            <table id="table" class="table table-bordered table-striped w-100"></table>
        </div><br>
    </div><br>
</div>