<!-- Login -->

<div class="alert alert-danger" ng-if="loginError" role="alert"><% loginErrorText %>}</div>

<div class="lc-block toggled" id="l-login">
    <div class="alert alert-danger" ng-if="loginError" role="alert"><% loginErrorText %></div>
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="md md-person"></i></span>
        <div class="fg-line">
            <input type="text" class="form-control" ng-model="user.email" placeholder="Usuario">
        </div>
    </div>

    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="md md-lock"></i></span>
        <div class="fg-line">
            <input ng-keyup="Myonkeyup($event)" type="password" class="form-control" ng-model="user.password" placeholder="Contraseña">
        </div>
    </div>

    <div class="clearfix"></div>

    <form id="frm" action="/dashboard" method="post" style="display: none;">
        <input type="text" name="Authorization" id="token">
    </form>

    <a href="#" class="btn btn-login btn-danger btn-float" ng-click="login()"><i class="md md-arrow-forward"></i></a>

</div>