<div class="card" >
    <div class="card-header bgm-blue">
        <h2>Productos Vendidos</h2>
    </div>

    <div class="card-header bgm-blue">
        <div class="row report-date p-l-15 p-r-15">
            <div class="col-xs-12 col-sm-3 btn-group p-0 box-s">
                <button type="button" class="btn btn-block dropdown-toggle bgm-white c-black" data-toggle="dropdown">
                    Filtro
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pointer w-100" style="text-align: center;" role="menu">
                    <li><a ng-click="searchView = 1;mtn={};range={};">Por día</a></li>
                    <li><a ng-click="searchView = 2;d={};range={};">Por mes</a></li>
                    <li><a ng-click="searchView = 3;d={};mtn={};">Entre fechas</a></li>
                    <li><a ng-click="searchView = 0;d={};mtn={};range={};">Ninguno</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div ng-form="filterDates" ng-show="searchView > 0" class="card-header bgm-blue p-t-0">
        <div ng-show="(searchView == 1)" class="row report-date p-l-15 p-r-15">
            <h2 class="col-xs-5 col-sm-1 text-right m-t-5">Diario</h2>
            <input type="date" class="col-xs-7 col-sm-2 btn btn-default m-t-5" ng-change="dateChange(d)" ng-model="d.day" ng-required="(searchView == 1)">
        </div>

        <div ng-show="searchView == 2" class="row report-date p-l-15 p-r-15">
            <h2 class="col-xs-5 col-sm-1 text-right m-t-5">Año</h2>
            <select class="col-xs-7 col-sm-1 btn btn-default m-t-5" ng-options="year as year for year in years" ng-change="dateChange(mtn)" ng-model="mtn.year" ng-required="(searchView == 2)">
                <option value="" disabled="disabled" selected="selected">Seleccione</option>
            </select>
            <h2 class="col-xs-5 col-sm-1 text-right m-t-5">Mensual</h2>
            <select class="col-xs-7 col-sm-1 btn btn-default m-t-5" ng-options="month.id as month.name for month in months" ng-change="dateChange(mtn)" ng-model="mtn.month" ng-required="(searchView == 2)">
                <option value="" disabled="disabled" select="true">Seleccione</option>
            </select>
        </div>

        <div ng-show="searchView == 3" class="row report-date p-l-15 p-r-15">
            <h2 class="col-xs-5 col-sm-1 text-right m-t-5">Inicio</h2>
            <input type="date" class="col-xs-7 col-sm-2 btn btn-default m-t-5" ng-change="dateChange(range)" ng-model="range.start" ng-required="(searchView == 3)">
            <h2 class="col-xs-5 col-sm-1 text-right m-t-5">Fin</h2>
            <input type="date" class="col-xs-7 col-sm-2 btn btn-default m-t-5" ng-change="dateChange(range)" ng-model="range.end" ng-required="(searchView == 3)">
        </div>

        <div class="row m-t-15 p-15">
            <div class="col-xs-12 col-sm-3 p-0 box-s">
                <input type="button" ng-disabled="!filterDates.$valid" ng-click="list()" class="btn btn-block bgm-indigo m-t-5" value="buscar">
            </div>
        </div>
        
    </div>

    <div class="card-body card-padding table-responsive">
        <div class="col-sm-12">
            <table id="ProductMovements" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
        </div><br>
    </div><br>

    <div class="card-header bgm-blue">
        <form name="formproduct" id="form" class="form-horizontal m-0" autocomplete="off">
            <div class="form-group m-t-0 m-b-0">
                <label class="col-xs-2 col-sm-2 control-label" style="color: white;font-size: 15px;">Ingresos Acumulados</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <label class="control-label m-l-10" style="color: white;text-align: left;font-size: 20px;" ng-bind-html="monto | currency:'S/ ':2"></label>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body card-padding table-responsive">
        <div class="col-sm-12" style="display: block;width: 100%;">
            <canvas id="lineChart"></canvas>
        </div><br>
    </div><br>

</div>

<div class="row">
    <div class="col-sm-6">
        <!-- Recent Items -->
        <div class="card">
            <div class="card-header">
                <h2>Ventas totales del {{ dateNow | date:'yyyy'}}<small>Se muestra las ventas totales de sus produtos y los montos totatles de pago por mes</small></h2>
            </div>

            <div class="card-body m-t-0">
                <table id="sales" class="table table-inner table-vmiddle"></table>
            </div>
            <div id="recent-items-chart-1" class="flot-chart recent-items-chart"></div>
        </div>
    </div>

    <div class="col-sm-6">
        <!-- Recent Items -->
        <div class="card">
            <div class="card-header">
                <h2>Montos de pago del {{ dateNow | date:'yyyy'}}<small>Se muestra los pagos y descuentos por mes.</small>
                <small>Leyenda: RAN: residuo del mes anterior, MM: Monto total a pagar por ventas de sus productos, D: descuentos, MD: monto total por descuentos, P: cantidad de pagos, MP: monto total de pago sin descuento, MT: Monto total de pago adicionando descuento, RAC: residuo para el mes siguiente</small></h2>
            </div>

            <div class="card-body m-t-0 table-responsive">
                <table id="payments" class="table table-inner table-vmiddle"></table>
            </div>
            <div id="recent-items-chart-2" class="flot-chart recent-items-chart"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <!-- Recent Items -->
        <div class="card">
            <div class="card-header">
                <h2>TOP 5+ <small>top 5 productos mas vendidos del mes</small></h2>
            </div>

            <div class="card-body m-t-0">
                <table id="table" class="table table-inner table-vmiddle"></table>
            </div>
            <div id="recent-items-chart-3" class="flot-chart recent-items-chart"></div>
        </div>
    </div>

    <div class="col-sm-6">
        <!-- Recent Items -->
        <div class="card">
            <div class="card-header">
                <h2>Top 5- <small>Top 5 productos con mayor stock en almacen</small></h2>
            </div>

            <div class="card-body m-t-0">
                <table id="table-2" class="table table-inner table-vmiddle"></table>
            </div>
            <div id="recent-items-chart-4" class="flot-chart recent-items-chart"></div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <!-- Recent Items -->
                <div class="card box-s">
                    <div class="card-header">
                        <h2>Grafica<small>La grafica muestra el estado de ventas del produto en proporcion a las ventas por día, Verde: 2 ventas cada 3 dias, Naranaja: 1 venta cada 3 dias, Rojo menos de 1 venta cada 3 dias</small></h2>
                    </div>

                    <div class="card-body p-l-15 p-r-15">
                        <canvas id="SalesChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <!-- Recent Items -->
                <div class="card box-s">
                    <div class="card-header">
                        <h2>Listado de Productos - Ventas <small>Listado de productos con la cantidad de ventas</small></h2>
                    </div>

                    <div class="card-body m-t-0">
                        <table id="product-sales" class="table table-inner table-vmiddle"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="salesPaymentsDetail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Detalle de pago de {{ salesPaymentsDetail.month }}</h3>
            </div>
            <div class="modal-body card-padding">
                <form class="form-horizontal" autocomplete="off" submit="return false;">
                    <div class="form-group form-pad-top">
                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Mes: </label>
                        <label class="col-xs-6 col-sm-9 control-label" style="text-align: left" ng-bind="salesPaymentsDetail.month"></label>

                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Inicio: </label>
                        <label class="col-xs-6 col-sm-9 control-label" style="text-align: left" ng-bind="salesPaymentsDetail.start"></label>

                         <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Fin: </label>
                        <label class="col-xs-6 col-sm-9 control-label" style="text-align: left" ng-bind="salesPaymentsDetail.end"></label>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="attr-group col-xs-12">
                                    <table class="table table-bordered w-100 table-attr text-center">
                                        <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Banco</th>
                                            <th>Razon</th>
                                            <th>Descuento</th>
                                            <th>Motivo</th>
                                            <th>Pago</th>
                                            <th>Tipo Pago</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="payment in salesPaymentsDetail.data.payments.data">
                                            <td style="display: table-cell;">{{ payment.date.substr(0,10) }}</td>
                                            <td style="display: table-cell;">{{ payment.bank.name }}</td>
                                            <td style="display: table-cell;">{{ payment.reason }}</td>
                                            <td style="display: table-cell;">{{ payment.amount_discount }}</td>
                                            <td style="display: table-cell;">{{ payment.type_d.type }}</td>
                                            <td style="display: table-cell;">{{ payment.amount }}</td>
                                            <td style="display: table-cell;">{{ payment.type_p.name }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function(){

        var data = [];
        var totalPoints = 50;

        function getRandomData() {
            if (data.length > 0)
                data = data.slice(1);

            while (data.length < totalPoints) {

                var prev = data.length > 0 ? data[data.length - 1] : 50,
                        y = prev + Math.random() * 10 - 5;
                if (y < 0) {
                    y = 0;
                } else if (y > 90) {
                    y = 90;
                }

                data.push(y);
            }

            var res = [];
            for (var i = 0; i < data.length; ++i) {
                res.push([i, data[i]])
            }

            return res;
        }

        var options = {
            series: {
                shadowSize: 0,
                lines: {
                    show: false,
                    lineWidth: 0
                }
            },
            grid: {
                borderWidth: 0,
                labelMargin:10,
                hoverable: true,
                clickable: true,
                mouseActiveRadius:6

            },
            xaxis: {
                tickDecimals: 0,
                ticks: false
            },

            yaxis: {
                tickDecimals: 0,
                ticks: false
            },

            legend: {
                show: false
            }
        };
        var styles = {
            width: 'calc(100% + 19px)',
            height: '150px',
            margin: '-20px -10px 0',
            bottom: '-10px'
        };

        $(".recent-items-chart").css(styles);

        $.plot($("#recent-items-chart-1"), [
            {data: getRandomData(), lines: { show: true, fill: 0.8 }, label: 'Items', stack: true, color: '#3F51B5' },
        ], options);

        $.plot($("#recent-items-chart-2"), [
            {data: getRandomData(), lines: { show: true, fill: 0.8 }, label: 'Items', stack: true, color: '#3F51B5' },
        ], options);

        $.plot($("#recent-items-chart-3"), [
            {data: getRandomData(), lines: { show: true, fill: 0.8 }, label: 'Items', stack: true, color: '#00BCD4' },
        ], options);

        $.plot($("#recent-items-chart-4"), [
            {data: getRandomData(), lines: { show: true, fill: 0.8 }, label: 'Items', stack: true, color: '#00BCD4' },
        ], options);
    })();
</script>