<div class="card" >
    <div class="card-header bgm-blue">
        <h2>Gestion regsitros de asistencias</h2>
        <button ng-disabled="updateList" class="btn bgm-green btn-float waves-effect btnLista" ng-click="list()"
                data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Pulse para actualizar los registros"
                title="" data-original-title="Actualizar"><i class="md md-sync"></i></button>
    </div>

    <div class="card-body card-padding table-responsive">
        <div class="col-sm-12">
            <table id="table" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
        </div><br>
        <div class="card-footer">
            <input  class="btn bgm-green waves-effect" type='submit' value='Nuevo registro' ng-click="new();">
        </div>
    </div><br>
</div>

<div class="card" id="formulariohide">
    <div class="card-header bgm-blue">
        <h2>Ingreso de registros</h2>
    </div>

    <form name="formDefault" id="form" class="form-horizontal" autocomplete="off">

        <div class="card-body card-padding" >
            <div class="card-header">
                <h2>Fecha, hora de entrada y salida</h2>
            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Fecha</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-event-available"></i></span>
                        <div class="fg-line">
                            <input ng-model="entry.date"  type="date" class="form-control" required>
                        </div>
                    </div>
                </div>

                <label class="col-xs-2 col-sm-2 control-label">Empleado</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-list"></i></span>
                        <div class="fg-line select">
                            <select class="form-control" ng-options="employee.id as employee.name for employee in employees" ng-model="entry.employee_id" required>
                                <option value="" disabled="disabled" select="true">Seleccione</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Ingreso</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-access-time"></i></span>
                        <div class="fg-line">
                            <input ng-model="entry.start_time" type="time" class="form-control" required>
                        </div>
                    </div>
                </div>

                <label class="col-xs-2 col-sm-2 control-label">Salida</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-access-time"></i></span>
                        <div class="fg-line">
                            <input ng-model="entry.end_time" type="time" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Inicio de almuerzo</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-access-time"></i></span>
                        <div class="fg-line">
                            <input ng-model="entry.start_time_launch" type="time" class="form-control" required>
                        </div>
                    </div>
                </div>

                <label class="col-xs-2 col-sm-2 control-label">Fin de almuerzo</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-access-time"></i></span>
                        <div class="fg-line">
                            <input ng-model="entry.end_time_launch" type="time" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Conciliado</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-check-box-outline-blank"></i></span>
                        <label class="checkbox checkbox-inline m-l-20 m-t-10">
                            <input ng-model="entry.conciliate" ng-true-value="1" ng-false-value="0" type="checkbox">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                </div>
                <label class="col-xs-2 col-sm-2 control-label">Tardanza Jutificada</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-check-box-outline-blank"></i></span>
                        <label class="checkbox checkbox-inline m-l-20 m-t-10">
                            <input ng-model="entry.justified" ng-true-value="1" ng-false-value="0" type="checkbox">
                            <i class="input-helper"></i>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-disabled="!formDefault.$valid || formSubmit" ng-click="submit()" type="button" class="btn btn-primary btn-sm waves-effect">Guardar</button>
                    <a ng-click="cancel()" class="btn btn-danger btn-sm waves-effect">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>