<div class="card" >
    <div class="card-header bgm-blue">
        <h2>Gestion de telefonos de: {{ customerName }}</h2>
        <button ng-disabled="updateList" class="btn bgm-green btn-float waves-effect btnLista" ng-click="list()"
                data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Pulse para actualizar los registros"
                title="" data-original-title="Actualizar"><i class="md md-sync"></i></button>
    </div>

    <div class="card-body card-padding table-responsive">
        <div class="col-sm-12">
            <table id="table" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
        </div><br>
        <div class="card-footer">
            <input class="btn bgm-green waves-effect m-t-15" type='submit' value='Nuevo registro' ng-click="new();">
            <input class="btn bgm-teal waves-effect pull-right m-t-15 m-l-10" type='submit' value='Editar Direcciones' ng-click="address();">
            <input class="btn bgm-indigo waves-effect pull-right m-t-15" type='submit' value='Editar Redes Sociales' ng-click="social();">
        </div>
    </div><br>
</div>
<div class="card" id="formulariohide">
    <div class="card-header bgm-blue">
        <h2>Crear/Editar Direcciones</h2>
    </div>

    <form name="addressForm" id="form" class="form-horizontal" autocomplete="off">

        <div class="card-body card-padding" >
            <div class="card-header">
                <h2>Datos de Cliente</h2>
            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Telefonos Adicionales</label>
                <div class="col-xs-10 col-sm-10">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 pad-t-15">
                                    <div class="fg-line select">
                                        <select class="form-control" ng-options="operator.id as operator.name for operator in operators" ng-model="phone.operator_id" required>
                                            <option value="" disabled="disabled" select="true">Seleccione</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 pad-t-15">
                                    <input type="text" class="form-control" placeholder="Numero" ng-model="phone.number" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-disabled="!addressForm.$valid" ng-disabled="formSubmit" ng-click="submit()" type="button" class="btn btn-primary btn-sm waves-effect">Guardar</button>
                    <a ng-click="cancel()" class="btn btn-danger btn-sm waves-effect">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>