<div class="card" >
    <div class="card-header bgm-blue">
        <h2>Gestion de productos</h2>
        <button ng-disabled="updateList" class="btn bgm-green btn-float waves-effect btnLista" ng-click="list()"
                data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Pulse para actualizar los registros"
                title="" data-original-title="Actualizar"><i class="md md-sync"></i></button>
    </div>

    <div class="card-body card-padding table-responsive">
        <div class="col-sm-12">
            <table id="table" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
        </div><br>
        <div class="card-footer">
            <input  class="btn bgm-green waves-effect" type='submit' value='Nuevo registro' ng-click="new();">
        </div>
    </div><br>
</div>

<div class="card" id="formulariohide">
    <div class="card-header bgm-blue">
        <h2>Crear Producto</h2>
    </div>

        <div class="card-body card-padding" >
            <div class="card-header">
                <h2>Datos de Producto</h2>
            </div>

            <form name="formuser" id="form" class="form-horizontal" autocomplete="off">
                <div class="form-group">
                    <label class="col-xs-2 col-sm-2 control-label">Nombre</label>
                    <div class="col-xs-10 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="md md-person"></i></span>
                            <div class="fg-line">
                                <input ng-model="empleado.id" type="hidden">
                                <input ng-model="empleado.first_name" type="text" class="form-control" placeholder="Kasandra" required>
                            </div>
                        </div>
                    </div>

                    <label class="col-xs-2 col-sm-2 control-label">precio</label>
                    <div class="col-xs-10 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="md md-person"></i></span>
                            <div class="fg-line">
                                <input ng-model="empleado.last_name" type="text" class="form-control" placeholder="65.00" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 col-sm-2 control-label">Imagen de producto (500x400 px)</label>
                    <div class="col-xs-10 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="md md-lock"></i></span>
                            <div class="fg-line">
                                <input type="file" class="form-control input-sm" file-model="product.img" ng-required="imgRequired">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="card-header">
                <h2>Grupo de Caracteristicas</h2>
            </div>
            <div class="attr-buttons">
                <button ng-click="addGrpAttr()" type="button" class="btn btn-success btn-sm waves-effect">Agregar Grupo de caracteristicas</button>
            </div>

            <div class="row groups-attr">
                    <div ng-repeat="grp in product.groupAttr">
                        <div class="attr-group col-xs-12 col-sm-6">
                            <h5> Grupo: {{ grp.id }} </h5>
                            <table id="table_none" class="table table-bordered w-100 table-attr text-center">
                                <thead>
                                    <tr>
                                        <th>Atributo</th><th>Valor</th><th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="attr in grp.attributes">
                                        <td ng-bind="attrName(attr.id)"></td>
                                        <td  ng-bind="attrValueName(attr.id, attr.val_id)"></td>
                                        <td style="width: 80px;">
                                            <button class="btn btn-xs btn-danger" ng-click="removeAttr(grp,attr,$event)" style="width: 82px;">Quitar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="attr-buttons">
                                <button ng-click="showAttr(grp)" type="button" class="btn btn-success btn-sm waves-effect">Agregar Atributo</button>
                                <button ng-click="duplicateGrpAttr(grp)" type="button" class="btn btn-primary btn-sm waves-effect">Duplicar grupo</button>
                                <button ng-click="removeGrpAttr(grp)" type="button" class="btn bgm-red btn-sm waves-effect">Eliminar grupo</button>
                            </div>
                        </div>
                     </div>
            </div>

            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-disabled="!formuser.$valid" ng-disabled="formSubmit"  ng-click="submit()" type="button" class="btn btn-primary btn-sm waves-effect">Guardar</button>
                        <a ng-click="cancel()" class="btn btn-danger btn-sm waves-effect">Cancelar</a>
                        <a ng-click="cancel2()" class="btn btn-danger btn-sm waves-effect">scope</a>
                    </div>
                </div>
            </form>

        </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Detalle de usuario</h3>
            </div>
            <div class="modal-body card-padding">
                <form class="form-horizontal" autocomplete="off" submit="return false;">
                    <div class="form-group form-pad-top">
                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Codigo: </label>
                        <label class="col-xs-6 col-sm-2 control-label" style="text-align: left" ng-bind="productDetail.product_code"></label>

                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-0 col-sm-2 control-label">Nombre: </label>
                        <label class="col-xs-6 col-sm-4 control-label" style="text-align: left" ng-bind="productDetail.name"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">precio: </label>
                        <label class="col-xs-6 col-sm-2 control-label" style="text-align: left" ng-bind="productDetail.price"></label>

                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-0 col-sm-2 control-label">Imagen: </label>
                        <img class="col-xs-6 col-sm-4 control-label" ng-src="{{productDetail.image}}"/>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Estado: </label>
                        <label class="col-xs-6 col-sm-3 control-label" style="text-align: left" ng-bind="getStatus(productDetail.status)"></label>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div ng-repeat="kardex in productDetail.kardexs">
                                <div class="attr-group col-xs-12 col-sm-6">
                                    <table class="table table-bordered w-100 table-attr text-center">
                                        <thead>
                                            <tr>
                                                <th>Atributo</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="attribute in kardex.attributes">
                                                <td>Atributo name</td>
                                                <td>{{ attribute.valor }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addAttr" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Agregar Atributo</h3>
            </div>
            <div class="modal-body card-padding">
                <form name="addAttr" class="form-horizontal" autocomplete="off">
                    <div class="form-group">
                        <label class="col-xs-2 col-sm-2 control-label">Atributo</label>
                        <div class="col-xs-10 col-sm-4">
                            <div class="fg-line select">
                                <select class="form-control" ng-change="attr_select()" ng-options="index as attributo.name for (index, attributo) in attributos" ng-model="attr_index" required>
                                    <option value="" disabled="disabled" select="true">Seleccione</option>
                                </select>
                            </div>
                        </div>

                        <label class="col-xs-2 col-sm-2 control-label">Valor</label>
                        <div class="col-xs-10 col-sm-4">
                            <div class="fg-line select">
                                <select class="form-control" ng-options="attr_value.id as attr_value.valor for attr_value in attr_values" ng-model="newAttr.val_id" required>
                                    <option value="" disabled="disabled" select="true">Seleccione</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button ng-disabled="!addAttr.$valid" ng-click="addAttrGrp()" type="button" class="btn btn-primary btn-sm waves-effect">Agregar</button>
                            <button ng-click="cancelAddAttr()" type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>