<div class="card" >
    <div class="card-header bgm-blue">
        <h2>Cuestionarios disponibles</h2>
        <button ng-disabled="updateList" class="btn bgm-green btn-float waves-effect btnLista" ng-click="list()"
                data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Pulse para actualizar los registros"
                title="" data-original-title="Actualizar"><i class="md md-sync"></i></button>
    </div>

    <div class="card-body card-padding table-responsive">
        <div class="col-sm-12">
            <table id="table" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
        </div><br>
        <div class="card-footer">
            <a  class="btn bgm-green waves-effect" ng-click="new();">Crear nuevo cuestionario</a>
        </div>
    </div><br>
</div>

<div class="card" id="formulariohide">
    <div class="card-header bgm-blue">
        <h2>Crear nuevo cuestionario</h2>
    </div>

    <div class="card-body card-padding" >
        <div class="card-header">
            <h2>Información de cuestionario</h2>
        </div>

        <form name="formproduct" id="form" class="form-horizontal" autocomplete="off">
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Descripción</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-assignment"></i></span>
                        <div class="fg-line">
                            <input ng-model="questionnaire.id" type="hidden">
                            <input ng-model="questionnaire.description" type="text" class="form-control" required>
                        </div>
                    </div>
                </div>

                <label class="col-xs-2 col-sm-2 control-label">Categoría</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-list"></i></span>
                        <div class="fg-line select">
                            <select class="form-control" ng-options="category.id as category.name for category in categories" ng-model="questionnaire.category_id" required>
                                <option value="" disabled="disabled" select="true">Seleccione</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Pregunta</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-list"></i></span>
                        <div class="fg-line select">
                            <select class="form-control" ng-change="addQuestion(question)" ng-options="$index as question.question for ($index, question) in questions" ng-model="question">
                                <option value="" disabled="disabled" select="true">Seleccione</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-header">
                <h2>Preguntas seleccionadas</h2>
            </div>

            <div class="row">
                <div class="attr-group col-xs-12">
                    <table class="table table-bordered w-100 table-attr text-center">
                        <thead>
                        <tr>
                            <th>Pregunta</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="question in questionsView">
                            <td style="display: table-cell;">{{ question.question }}</td>
                            <td style="width: 80px"><button ng-click="removeQuestion($index)" class="btn btn-danger btn-sm waves-effect">Eliminar</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-disabled="!formproduct.$valid || formSubmit" ng-click="submit()" type="button" class="btn btn-primary btn-sm waves-effect">Guardar</button>
                    <a ng-click="cancel()" class="btn btn-danger btn-sm waves-effect">Cancelar</a>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Detalle de cuestionario</h3>
            </div>
            <div class="modal-body card-padding">
                <form class="form-horizontal" autocomplete="off" submit="return false;">
                    <div class="form-group form-pad-top">
                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Descripción: </label>
                        <label class="col-xs-6 col-sm-9 control-label" style="text-align: left" ng-bind="questionnaireDetail.description"></label>

                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Categoría: </label>
                        <label class="col-xs-6 col-sm-9 control-label" style="text-align: left" ng-bind="questionnaireDetail.category.name"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Preguntas: </label>
                        <div class="col-xs-8 col-sm-9">
                            <div class="row">
                                <div class="attr-group col-xs-12">
                                    <table class="table table-bordered w-100 table-attr text-center">
                                        <thead>
                                        <tr>
                                            <th>Pregunta</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="question in questionnaireDetail.questions">
                                            <td>{{ question.question }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>