<div class="card" >
    <div class="card-header bgm-blue">
        <h2>Gestion de retorno de productos y pedidos</h2>
        <button ng-disabled="updateList" class="btn bgm-green btn-float waves-effect btnLista" ng-click="list()"
                data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Pulse para actualizar los registros"
                title="" data-original-title="Actualizar"><i class="md md-sync"></i></button>
    </div>

    <div class="card-header bgm-lightblue">
       <div ng-form="dates" class="row report-date">

            <h2 class="col-xs-5 col-sm-1 text-right m-t-20">Estado</h2>
            <select class="col-xs-7 col-sm-2 m-t-20" ng-options="estado.id as estado.name for estado in estados" ng-change="changeStatus()" ng-model="status">
               <option value="" selected="selected" disabled="disabled">Seleccione</option>
            </select>

       </div>
    </div>

    <div class="card-body card-padding table-responsive">
        <div class="col-sm-12" ng-show="updateList">
            <i class="fa fa-refresh fa-spin fa-5x" style="display: table;margin: 0 auto;"></i>
        </div><br>
        <div class="col-sm-12" ng-hide="updateList">
            <table id="table" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
        </div><br>
    </div><br>
</div>

<!-- Modal -->
<div class="modal fade" id="clientModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Detalle de cliente</h3>
            </div>
            <div class="modal-body card-padding">
                <form name="form" class="form-horizontal" autocomplete="off">
                    <div class="form-group">
                        <label class="col-xs-2 col-sm-4 control-label">Nombre</label>
                        <div class="col-xs-10 col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-list"></i></span>
                                <div class="fg-line">
                                    <label class="col-xs-6 col-sm-6 control-label">{{client.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 col-sm-4 control-label">Correo</label>
                        <div class="col-xs-10 col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-list"></i></span>
                                <div class="fg-line">
                                    <label class="col-xs-6 col-sm-6 control-label">{{client.email}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 col-sm-4 control-label">Teléfono</label>
                        <div class="col-xs-10 col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-list"></i></span>
                                <div class="fg-line">
                                    <label class="col-xs-6 col-sm-6 control-label">{{client.phone}}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 col-sm-4 control-label">Creación</label>
                        <div class="col-xs-10 col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-list"></i></span>
                                <div class="fg-line">
                                    <label class="col-xs-6 col-sm-6 control-label">{{client.created_at}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancel()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Photo" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Vista de Fotos</h3>
            </div>

            <div class="modal-body card-padding" ng-repeat="photo in product.photos">
                    <div class="form-group">
                        <div class="col-xs-12" style="margin: 0 0 10px 0 ">
                            <img ng-src="{{photo.link}}" class="w-100">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a type="button" ng-href="{{photo.link}}" class="btn btn-success pull-left" download>Descargar</a>  
                    </div>
            </div> 

            <div class="modal-footer">               
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
