<div class="card" id="formulariohide">
    <div class="card-header bgm-green">
        <h2>Crear Empleado</h2>
    </div>

    ​
    <form id="form" class="form-horizontal" autocomplete="off">

        <div class="card-body card-padding">
            <div class="card-header">
                <h2>Datos de Empleado</h2>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Nombres</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Cesar Antonio">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Apellidos</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Moreno Gomez">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-email"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="cesar@gmail.com">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Teléfono</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-local-phone"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="959796968">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Dirección</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-location-on"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Av. Javier Prado N°456">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Cumpleaños</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-event"></i></span>
                        <div class="dtp-container dropdown fg-line">
                            <input type="text" class="form-control date-time-picker" data-toggle="dropdown" placeholder="11/09/2014">
                        </div>
                    </div>

                </div>
            </div>

            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label"></label>-->
                <!--<div class="col-sm-10">-->
                    <!--<p class="f-500 c-black m-b-20">Sexo</p>-->
                    <!--<select class="selectpicker bs-select-hidden">-->
                        <!--<option>Mustard</option>-->
                        <!--<option>Ketchup</option>-->
                        <!--<option>Relish</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <label class="col-sm-2 control-label">Foto</label>
                <div class="col-sm-10">
                    <p class="f-500 c-black m-b-20">Image Preview</p>
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                        <div>
                                    <span class="btn btn-info btn-file waves-effect">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="...">
                                    </span>
                            <a href="#" class="btn btn-danger fileinput-exists waves-effect" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-sm waves-effect">Guardar</button>
                    <a onclick="ocultaformulario();"  class="btn btn-danger btn-sm waves-effect">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>