<div class="card" id="formulariohide">
    <div class="card-header bgm-green">
        <h2>Crear Empleado</h2>
    </div>

    ​
    <form name="formuser" id="form" class="form-horizontal" autocomplete="off" ng-submit="submit()">

        <div class="card-body card-padding" >
            <div class="card-header">
                <h2>Datos de Empleado</h2>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Nombres</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input ng-model="empleado.first_name" type="text" class="form-control" placeholder="Cesar Antonio" required>
                        </div>
                    </div>
                </div>

                <label class="col-sm-2 control-label">Apellidos</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                         <input ng-model="empleado.last_name" type="text" class="form-control" placeholder="Moreno Gomez" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Contraseña</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-lock"></i></span>
                        <div class="fg-line">
                            <input ng-minlength="8" ng-model="empleado.password" type="password" class="form-control" placeholder="Contraseña" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-email"></i></span>
                        <div class="fg-line">
                            <input ng-model="empleado.email" type="email" class="form-control" placeholder="cesar@gmail.com" required>
                        </div>
                    </div>
                </div>
                <label class="col-sm-2 control-label">Teléfono</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-local-phone"></i></span>
                        <div class="fg-line">
                            <input ng-model="empleado.phone" type="text" class="form-control" placeholder="959796968" required>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">Dirección</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-location-on"></i></span>
                        <div class="fg-line">
                            <input ng-model="empleado.address" type="text" class="form-control" placeholder="Av. Javier Prado N°456" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Género</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="fg-line select">
                            <select class="form-control" ng-model="empleado.sex" required>
                                <option value=""  disabled="disabled" select="true">Seleccione</option>
                                <option value="H">Hombre</option>
                                <option value="M">Mujer</option>
                            </select>
                        </div>

                    </div>
                </div>

                <label class="col-sm-2 control-label">Rol</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="fg-line select ">
                            <select class="form-control" ng-model="empleado.role_id" required>
                                <option value=""  disabled="disabled" select="true">Seleccione</option>
                                <option value="2">Administrador</option>
                                <option value="4">Jefe de ventas</option>
                                <option value="3">Vendedor</option>
                                <option value="5">Motorizado</option>
                            </select>
                        </div>

                    </div>
                </div>

            </div>

             <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">Cumpleaños</label>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon"><i class="md md-event"></i></span>-->
                        <!--<div class="dtp-container dropdown fg-line">-->
                            <!--<input ng-model="birth_name" type="text" class="form-control date-time-picker" data-toggle="dropdown" placeholder="11/09/2014">-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <div class="toggle-switch" data-ts-color="green">
                            <label for="ts4" class="ts-label">Activar cuenta</label>
                            <input ng-model="empleado.status" id="ts4" type="checkbox" hidden="hidden" required>
                            <label for="ts4" class="ts-helper"></label>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label"></label>-->
                <!--<div class="col-sm-10">-->
                    <!--<p class="f-500 c-black m-b-20">Sexo</p>-->
                    <!--<select class="selectpicker bs-select-hidden">-->
                        <!--<option>Mustard</option>-->
                        <!--<option>Ketchup</option>-->
                        <!--<option>Relish</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">Foto</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<p class="f-500 c-black m-b-20">Image Preview</p>-->
                    <!--<div class="fileinput fileinput-new" data-provides="fileinput">-->
                        <!--<div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>-->
                        <!--<div>-->
                                    <!--<span class="btn btn-info btn-file waves-effect">-->
                                        <!--<span class="fileinput-new">Select image</span>-->
                                        <!--<span class="fileinput-exists">Change</span>-->
                                        <!--<input type="file" name="...">-->
                                    <!--</span>-->
                            <!--<a href="#" class="btn btn-danger fileinput-exists waves-effect" data-dismiss="fileinput">Remove</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-disabled="!formuser.$valid" ng-disabled="createUser" type="submit" class="btn btn-primary btn-sm waves-effect">Guardar</button>
                    <a onclick="ocultaformulario();"  ng-click="cancelar()" class="btn btn-danger btn-sm waves-effect">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>

