<div class="card" >
    <div class="card-header bgm-blue">
        <h2>Gestion de usuarios de sistema</h2>
        <button ng-disabled="updateList" class="btn bgm-green btn-float waves-effect btnLista" ng-click="list()"
                data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Pulse para actualizar los registros"
                title="" data-original-title="Actualizar"><i class="md md-sync"></i></button>
    </div>

    <div class="card-body card-padding table-responsive">
        <div class="col-sm-12">
            <table id="table" class="table table-bordered table-striped w-100" style="text-align:center;"></table>
        </div><br>
        <div class="card-footer">
            <input  class="btn bgm-green waves-effect" type='submit' value='Nuevo registro' ng-click="new();">
        </div>
    </div><br>
</div>

<div class="card" id="formulariohide">
    <div class="card-header bgm-blue">
        <h2>Crear Empleado</h2>
    </div>

    <form name="formuser" id="form" class="form-horizontal" autocomplete="off">

        <div class="card-body card-padding" >
            <div class="card-header">
                <h2>Datos de Empleado</h2>
            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Nombres</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input ng-model="empleado.id" type="hidden">
                            <input ng-model="empleado.first_name" type="text" class="form-control" placeholder="Cesar Antonio" required>
                        </div>
                    </div>
                </div>

                <label class="col-xs-2 col-sm-2 control-label">Apellidos</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                         <input ng-model="empleado.last_name" type="text" class="form-control" placeholder="Moreno Gomez" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Contraseña</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-lock"></i></span>
                        <div class="fg-line">
                            <input ng-minlength="8" ng-model="empleado.password" type="password" class="form-control" placeholder="Contraseña" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Email</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-email"></i></span>
                        <div class="fg-line">
                            <input ng-model="empleado.email" type="email" class="form-control" placeholder="cesar@gmail.com" required>
                        </div>
                    </div>
                </div>
                <label class="col-xs-2 col-sm-2 control-label">Teléfono</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-local-phone"></i></span>
                        <div class="fg-line">
                            <input ng-model="empleado.phone" type="text" class="form-control" placeholder="959796968" required>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Dirección</label>
                <div class="col-xs-10 col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-location-on"></i></span>
                        <div class="fg-line">
                            <input ng-model="empleado.address" type="text" class="form-control" placeholder="Av. Javier Prado N°456" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Género</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <div class="fg-line select">
                            <select class="form-control" ng-model="empleado.sex" required>
                                <option value=""  disabled="disabled" select="true">Seleccione</option>
                                <option value="H">Hombre</option>
                                <option value="M">Mujer</option>
                            </select>
                        </div>

                    </div>
                </div>

                <label class="col-xs-2 col-sm-2 control-label">Rol</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <div class="fg-line select ">
                            <select class="form-control" ng-options="role.id as role.name for role in roles" ng-model="empleado.role_id" required>
                                <option value="" disabled="disabled" select="true">Seleccione</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label">Activar/Desactivar</label>
                <div class="col-xs-10 col-sm-4">
                    <div class="input-group">
                        <div class="toggle-switch" data-ts-color="green">
                            <label for="ts4" class="ts-label"></label>
                            <input ng-true-value="1" ng-false-value="0" ng-checked="empleado.status" ng-model="empleado.status" id="ts4" type="checkbox" hidden="hidden">
                            <label for="ts4" class="ts-helper"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-disabled="!formuser.$valid" ng-disabled="formSubmit" ng-click="submit()" type="button" class="btn btn-primary btn-sm waves-effect">Guardar</button>
                    <a ng-click="cancel()" class="btn btn-danger btn-sm waves-effect">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bgm-teal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title c-white">Detalle de usuario</h3>
            </div>
            <div class="modal-body card-padding">
                <form class="form-horizontal" autocomplete="off" submit="return false;">
                    <div class="form-group form-pad-top">
                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Nombres: </label>
                        <label class="col-xs-6 col-sm-3 control-label" style="text-align: left" ng-bind="userDetail.first_name"></label>

                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-0 col-sm-2 control-label">Apellidos: </label>
                        <label class="col-xs-6 col-sm-3 control-label" style="text-align: left" ng-bind="userDetail.last_name"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Direccion: </label>
                        <label class="col-xs-6 col-sm-3 control-label" style="text-align: left" ng-bind="userDetail.address"></label>

                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-0 col-sm-2 control-label">Email: </label>
                        <label class="col-xs-6 col-sm-3 control-label" style="text-align: left" ng-bind="userDetail.email"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Telefonos: </label>
                        <label class="col-xs-6 col-sm-3 control-label" style="text-align: left" ng-bind="userDetail.phone"></label>

                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-0 col-sm-2 control-label">Sexo: </label>
                        <label class="col-xs-6 col-sm-3 control-label" style="text-align: left" ng-bind="userDetail.sex"></label>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-1 col-sm-2 control-label">Nombre de usuario: </label>
                        <label class="col-xs-6 col-sm-3 control-label" style="text-align: left" ng-bind="userDetail.user"></label>

                        <label class="col-xs-4 col-xs-offset-1 col-sm-offset-0 col-sm-2 control-label">Estado: </label>
                        <label class="col-xs-6 col-sm-3 control-label" style="text-align: left" ng-bind="getStatus(userDetail.status)"></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
